#team__venue {
    height: 280px;
    width: 100%;
    margin-bottom: -12px;
}

.team__name {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    padding-top: 39px;
    position: absolute;
    left: 42%;
    transform: translateY(-215px);
}

#team__general-stats {
    display: flex;
    justify-content: center;
}

.team__general-stats__item {
    margin-inline: 40px;
    margin-bottom: 40px;
}

.general-stats__row {
    display: flex;
}

.general-stats__row__title {
    margin-right: 7px;
}

.squad {
    margin: 2% 0;
}

.player {
    display: flex;
    margin-left: 4%;
    margin-bottom: 1%;
}

.player__img {
    height: 79px;
    width: 79px;
}

.player__stats-name {
    display: flex;
    margin-top: 10px;
}

.player__long_name {
    margin-top: 1px;
}

.player__stats-positions {
    display: flex;
}

.player__stats-position {
    width: 34px;
    height: 24px;
    background: var(--db);
    color: #fff;
    margin-right: 9px;
    text-align: center;
    margin-top: 0 !important;
    padding-top: 4px;
}

.player__stats-overall, .player__stats-potential {
    height: 24px;
    width: 34px;
    background: var(--db);
    color: #fff;
    margin-right: 9px;
    padding-top: 4px;
    text-align: center;
}

#squad {
    margin-bottom: 70px;
}

#staff {
    min-height: 222px;
}

#staff__img {
    margin-right: 19px;
}

#staff__img img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
}

#staff__name {
    font-size: 24px;
}

#staff__info {
    margin-top: 2%;
}

#stadium__info {
    min-height: 223px;
}

.additional__stats__home-team__name {
    width: 162px;
    text-align: center;
}

.subtitle__m {
    margin-bottom: 19px;
}

.subtitle__k {
    margin-top: 19px;
    margin-bottom: 19px;
}

.matches-list__match {
    display: flex;
    width: 48%;
    margin-left: 26%;
    margin-bottom: 1%;
}

.matches-list__match img {
    height: 28px;
    width: 28px;
}

#team__matches-list {
    margin-bottom: 19px;
}

.matchday {
    width: 22%;
}

.match__home_team_name, .match__away_team_name {
    width: 170px;
    margin-inline: 14px;
}

.match__away_team_goals {
    margin-inline: 40px;
}

#trophies {
    min-height: 222px;
}

.trophies__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-inline: 40px;
}

.trophies__row__trophy {
    display: flex;
    justify-content: center;
    margin: 1% 0;
}

.trophies__name {
    font-size: 23px;
    letter-spacing: .04em;
    line-height: 1.5;
    margin: 40px 0;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
}

@media (max-width: 1470.98px) {
    .matches-list__match {
        width: 62%;
        margin-left: 19%;
    }
}