#team__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 49px;
    background-color: #e0e0e0;
}

.team__navbar__menu-item {
    padding: 20px;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 1.1;
    color: #fff;
}

.active-navbar {
    background-color: var(--db);
}